# Project exclude paths
/cours Javascript/mod5/ExpressionLambda.js
/cours Javascript/mod5/LesClasses.js
/cours Javascript/mod5/LesGeneriques.js
/cours Javascript/mod5/LesVariableEtEnumere.js
/cours Javascript/mod5/Modules.js
/cours Javascript/mod5/TranscompilerEtExecuter.js
/JSTP/mod5/mod5_tp1.js
/JSTP/mod5/TP 1 - Vente aux encheres.js